/* CSS BODY */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
}

/* CSS NAVBAR */

.navbar {
  background-color: white;
  padding-right: 0;
  padding-left: 0;
}

.logo-navbar {
  width: 40px;
}

@media only screen and (min-width: 768px) {
  .navbar-align {
    width: 520px;
  }
}

.navbar-nav {
  width: 400px;
}

@media only screen and (max-width: 425px) {
  nav div button {
    margin-left: 65%;
  }
}

@media only screen and (max-width: 320px) {
  nav div button {
    margin-left: 55%;
  }
}

/* CSS NAVBAR Buttons */

.button {
  padding: 0.1rem 0.25rem;
  margin: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
}

.button-login {
  padding: 0.1rem 0.25rem;
  margin: 0.5rem;
  font-weight: 700;
  font-size: 0.95rem;
  color: rgb(84, 173, 202);
  text-decoration: none;
  background-color: #f8f9fa;
  border: none;
}

.button-login:hover {
  background-color: rgb(140, 211, 235) !important;
}

.button-login:active {
  background-color: rgb(140, 211, 235);
  box-shadow: 0 0 0 0.25rem rgb(140 211 235 / 50%) !important;
}

.button-login:focus {
  box-shadow: 0 0 0 0.25rem rgb(140 211 235 / 50%) !important;
}

nav > div > div > div > a:hover {
  color: rgb(140, 211, 235);
  transform: scale(1.03);
  text-decoration: none;
}

nav > div > div > div > a:active {
  color: rgb(140, 211, 235);
  transform: scale(1.03);
  text-decoration: none;
}

/* CSS Modal Login */

.button-close {
  font-size: 10px;
}
.button-modal-logfb {
  border: 1px solid black;
  background-color: #4568b2;
  color: white;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  margin: 10px 0px 0px;
  padding: 14px 16px;
}

.button-modal-loggl {
  border: 1px solid grey;
  background-color: transparent;
  color: black;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  margin: 10px 0px 0px;
  padding: 14px 16px;
}

.modal-separator {
  position: relative;
  text-align: center;
  height: 34px;
}

.modal-span {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #757575;
  display: inline-block;
  background-color: white;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-hr {
  margin: -25px auto 10px;
  width: 100%;
  border: 0;
  border-top: 1px solid rgb(224, 224, 224);
  opacity: 100;
}

.link-fyp {
  margin: 1rem 0;
}

div > div > div > div > form > div > a:link {
  text-decoration: none;
  color: black;
}

div > div > div > div > form > div > a:hover {
  text-decoration: none;
  color: black;
}

div > div > div > div > form > div > a:active {
  text-decoration: none;
  color: black;
}

div > div > div > div > form > div > a:visited {
  text-decoration: none;
  color: black;
}

.button-modal-login {
  border: 1px solid #eee;
  border-radius: 0;
  background-color: #1db9ec;
  color: white;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  margin: 10px 0px 0px;
  padding: 14px 16px;
}

div > div > div > div > a:link {
  text-decoration: none;
  color: black;
}

div > div > div > div > a:hover {
  text-decoration: none;
  color: black;
}

div > div > div > div > a:active {
  text-decoration: none;
  color: black;
}

div > div > div > div > a:visited {
  text-decoration: none;
  color: black;
}

.button-singin:hover {
  color: #4568b2;
  font-weight: bold;
}
@media only screen and (max-width: 425px) {
  .modal-width {
    max-width: 400px;
  }
}

/* CSS Articles */

.article-card {
  font-family: "Open Sans", sans-serif;
}

.font-titles {
  font-family: "Merriweather", serif;
}

.contenedor-cards-principal {
  width: 50%;
  margin-top: 30px;
  margin-left: 5%;
}

.divisor-cards {
  border: solid 2px #0e69f196;
  opacity: 1;
  width: 25%;
  background-color: #0e69f196;
}

.link-cards:link {
  text-decoration: none;
  color: black;
}

.link-cards:visited {
  text-decoration: none;
  color: black;
}

.link-cards:hover {
  text-decoration: none;
  color: lightblue;
  text-shadow: 2px 2px 2px black;
}

@media only screen and (max-width: 1024px) {
  .contenedor-cards-principal {
    width: 65%;
  }
}

@media only screen and (max-width: 425px) {
  .contenedor-cards-principal {
    width: 90%;
  }
  div div div article p {
    font-size: 12px;
  }
  div div div article h2 {
    font-size: 20px;
  }
  div div div article h5 {
    font-size: 16px;
  }
}

/* CSS Efectos Cards */

.article-card1:hover {
  transition: ease-in;
  background-image: url(./img/article-1.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.65;
  padding: 1rem;
  color: aliceblue;
  text-shadow: 2px 2px 2px black;
  border-radius: 10px;
}

.article-card2:hover {
  transition: ease-in;
  background-image: url(./img/article-2.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.65;
  padding: 1rem;
  color: aliceblue;
  text-shadow: 2px 2px 2px black;
  border-radius: 10px;
}

.article-card3:hover {
  transition: ease-in;
  background-image: url(./img/article-3.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.65;
  padding: 1rem;
  color: aliceblue;
  text-shadow: 2px 2px 2px black;
  border-radius: 10px;
}

.article-card4:hover {
  transition: ease-in;
  background-image: url(./img/article-4.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.65;
  padding: 1rem;
  color: aliceblue;
  text-shadow: 2px 2px 2px black;
  border-radius: 10px;
}

.article-card5:hover {
  transition: ease-in;
  background-image: url(./img/article-5.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.65;
  padding: 1rem;
  color: aliceblue;
  text-shadow: 2px 2px 2px black;
  border-radius: 10px;
}

.article-card6:hover {
  transition: ease-in;
  background-image: url(./img/article-6.jpeg);
  background-position: center;
  background-size: cover;
  opacity: 0.65;
  padding: 1rem;
  color: aliceblue;
  text-shadow: 2px 2px 2px black;
  border-radius: 10px;
}

/* CSS Últimas entradas */

.ultimas-entradas {
  position: -webkit-sticky;
  position: sticky;
  top: 67px;
  height: 200px;
  padding-top: 1rem;
  margin-top: 30px;
  margin-right: 5%;
  width: 220px;
}

.ultimas-entradas-list {
  border-left: 5px solid #0e69f196;
  padding-left: 0.5rem;
  font-weight: bold;
}

.ultimas-entradas-li {
  list-style: none;
}

.ultimas-entradas-link:link {
  text-decoration: none;
  color: black;
}

.ultimas-entradas-link:visited {
  text-decoration: none;
  color: black;
}

.ultimas-entradas-link:hover {
  text-decoration: none;
  color: #0e69f196;
}

@media only screen and (max-width: 768px) {
  .contenedor-principal {
    justify-content: start !important;
  }
  .ultimas-entradas {
    margin-left: 6%;
    margin-top: -50px;
    position: relative;
    height: 150px;
  }
  div ul h5 {
    font-size: 16px;
  }
}

/* CSS Podcast */

td {
  vertical-align: center;
  text-align: center;
}

.titulo-tabla {
  font-size: 1.3rem;
  border-bottom: #0e69f196 solid 1px !important;
  border-bottom-width: 3px !important;
}

.posicion-tabla {
  display: flex;
  justify-content: start;
  margin-left: 9.5%;
  margin-bottom: 20px;
}

.table-width {
  width: 50%;
}

.border-td-top {
  border-bottom: #0e69f196 solid 1px;
  border-bottom-width: 3px !important;
}

.border-td-bottom {
  border-bottom: #0e69f196 solid 1px;
  border-bottom-width: 3px !important;
}

@media only screen and (max-width: 1024px) {
  .posicion-tabla {
    display: flex;
    justify-content: start;
    margin-left: 0px;
  }
  .table-width {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .posicion-tabla {
    display: flex;
    justify-content: start;
    margin-left: 0px;
    margin-top: 50px;
  }

  .width-iframe {
    width: 100%;
  }

  .table-width {
    width: 80%;
  }
}

/* CSS Footer */

.form-group {
  margin-bottom: 1rem;
}
